<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.behappy.hchen.androidlearningpath">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".buttonclickcounter.ButtonClickCounter"
            android:label="@string/title_activity_button_click_counter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".calculator.Calculator" />
        <activity android:name=".top10downloader.Top10Downloader" />
        <activity android:name=".wechatsdk.WechatSDKLearn"></activity>
    </application>

</manifest>